In [1]:
import requests
import pandas as pd

In [2]:
url = "https://randomuser.me/api"

In [3]:
r = requests.get(url)

In [4]:
r

In [5]:
json = r.json()

In [6]:
json

{'results': [{'gender': 'male',
   'name': {'title': 'Mr', 'first': 'Rafael', 'last': 'Schmidt'},
   'location': {'street': {'number': 5216, 'name': 'Rectory Lane'},
    'city': 'Sunderland',
    'state': 'Norfolk',
    'country': 'United Kingdom',
    'postcode': 'MG4L 3EN',
    'coordinates': {'latitude': '-9.3924', 'longitude': '-102.7317'},
    'timezone': {'offset': '+5:45', 'description': 'Kathmandu'}},
   'email': 'rafael.schmidt@example.com',
   'login': {'uuid': 'cdb8bdaa-e96c-4650-a9bf-354496f6b487',
    'username': 'sadwolf306',
    'password': 'minime',
    'salt': '4IAUAvdk',
    'md5': '506fd2827ba87941ac1595f6ffaeaeab',
    'sha1': '4fa55618e187ffc18efe1590a540d1b9899dd795',
    'sha256': '3a1a25558c193a68fde9d66cf8d8236999693f33c9c524261af200ada95e6877'},
   'dob': {'date': '1962-06-11T15:17:45.872Z', 'age': 60},
   'registered': {'date': '2007-08-19T02:43:52.832Z', 'age': 15},
   'phone': '0181 860 6776',
   'cell': '07586 399502',
   'id': {'name': 'NINO', 'value': 'HB 82 34 91 O'},
   'picture': {'large': 'https://randomuser.me/api/portraits/men/29.jpg',
    'medium': 'https://randomuser.me/api/portraits/med/men/29.jpg',
    'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/29.jpg'},
   'nat': 'GB'}],
 'info': {'seed': 'f1adb84555677181',
  'results': 1,
  'page': 1,
  'version': '1.4'}}

In [7]:
json.keys()

dict_keys(['results', 'info'])

In [8]:
json['results']

[{'gender': 'male',
  'name': {'title': 'Mr', 'first': 'Rafael', 'last': 'Schmidt'},
  'location': {'street': {'number': 5216, 'name': 'Rectory Lane'},
   'city': 'Sunderland',
   'state': 'Norfolk',
   'country': 'United Kingdom',
   'postcode': 'MG4L 3EN',
   'coordinates': {'latitude': '-9.3924', 'longitude': '-102.7317'},
   'timezone': {'offset': '+5:45', 'description': 'Kathmandu'}},
  'email': 'rafael.schmidt@example.com',
  'login': {'uuid': 'cdb8bdaa-e96c-4650-a9bf-354496f6b487',
   'username': 'sadwolf306',
   'password': 'minime',
   'salt': '4IAUAvdk',
   'md5': '506fd2827ba87941ac1595f6ffaeaeab',
   'sha1': '4fa55618e187ffc18efe1590a540d1b9899dd795',
   'sha256': '3a1a25558c193a68fde9d66cf8d8236999693f33c9c524261af200ada95e6877'},
  'dob': {'date': '1962-06-11T15:17:45.872Z', 'age': 60},
  'registered': {'date': '2007-08-19T02:43:52.832Z', 'age': 15},
  'phone': '0181 860 6776',
  'cell': '07586 399502',
  'id': {'name': 'NINO', 'value': 'HB 82 34 91 O'},
  'picture': {'large': 'https://randomuser.me/api/portraits/men/29.jpg',
   'medium': 'https://randomuser.me/api/portraits/med/men/29.jpg',
   'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/29.jpg'},
  'nat': 'GB'}]

In [9]:
json['info']

{'seed': 'f1adb84555677181', 'results': 1, 'page': 1, 'version': '1.4'}

In [10]:
type(json['results'])

list

In [11]:
type(json['info'])

dict

In [12]:
type(json['results'][0])

dict

In [13]:
df = pd.DataFrame(json['results'])

In [14]:
df

,gender,name,location,email,login,dob,registered,phone,cell,id,picture,nat
0,male,"{'title': 'Mr', 'first': 'Rafael', 'last': 'Sc...","{'street': {'number': 5216, 'name': 'Rectory L...",rafael.schmidt@example.com,{'uuid': 'cdb8bdaa-e96c-4650-a9bf-354496f6b487...,"{'date': '1962-06-11T15:17:45.872Z', 'age': 60}","{'date': '2007-08-19T02:43:52.832Z', 'age': 15}",0181 860 6776,07586 399502,"{'name': 'NINO', 'value': 'HB 82 34 91 O'}",{'large': 'https://randomuser.me/api/portraits...,GB

In [15]:
df.describe()

,gender,name,location,email,login,dob,registered,phone,cell,id,picture,nat
count,1,1,1,1,1,1,1,1,1,1,1,1
unique,1,1,1,1,1,1,1,1,1,1,1,1
top,male,"{'title': 'Mr', 'first': 'Rafael', 'last': 'Sc...","{'street': {'number': 5216, 'name': 'Rectory L...",rafael.schmidt@example.com,{'uuid': 'cdb8bdaa-e96c-4650-a9bf-354496f6b487...,"{'date': '1962-06-11T15:17:45.872Z', 'age': 60}","{'date': '2007-08-19T02:43:52.832Z', 'age': 15}",0181 860 6776,07586 399502,"{'name': 'NINO', 'value': 'HB 82 34 91 O'}",{'large': 'https://randomuser.me/api/portraits...,GB
freq,1,1,1,1,1,1,1,1,1,1,1,1

In [16]:
df.shape

(1, 12)

In [17]:
df.query

<bound method DataFrame.query of   gender                                               name  \
0   male  {'title': 'Mr', 'first': 'Rafael', 'last': 'Sc...

                                            location  \
0  {'street': {'number': 5216, 'name': 'Rectory L...

                        email  \
0  rafael.schmidt@example.com

                                               login  \
0  {'uuid': 'cdb8bdaa-e96c-4650-a9bf-354496f6b487...

                                               dob  \
0  {'date': '1962-06-11T15:17:45.872Z', 'age': 60}

                                        registered          phone  \
0  {'date': '2007-08-19T02:43:52.832Z', 'age': 15}  0181 860 6776

           cell                                          id  \
0  07586 399502  {'name': 'NINO', 'value': 'HB 82 34 91 O'}

                                             picture nat
0  {'large': 'https://randomuser.me/api/portraits...  GB  >

In [18]:
df[df['gender'] == 'female']

Empty DataFrame
Columns: [gender, name, location, email, login, dob, registered, phone, cell, id, picture, nat]
Index: []

In [19]:
df[df['gender']=='male']

,gender,name,location,email,login,dob,registered,phone,cell,id,picture,nat
0,male,"{'title': 'Mr', 'first': 'Rafael', 'last': 'Sc...","{'street': {'number': 5216, 'name': 'Rectory L...",rafael.schmidt@example.com,{'uuid': 'cdb8bdaa-e96c-4650-a9bf-354496f6b487...,"{'date': '1962-06-11T15:17:45.872Z', 'age': 60}","{'date': '2007-08-19T02:43:52.832Z', 'age': 15}",0181 860 6776,07586 399502,"{'name': 'NINO', 'value': 'HB 82 34 91 O'}",{'large': 'https://randomuser.me/api/portraits...,GB